<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/images/Ja.jpg" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Portafolio</title>
</head>

<body>
    <header class="header" id="header">
        <nav class="nav container">
            <a href="#" class="nav__logo">Jesús</a>

            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list">
                    <li>
                        <a href="#home" class="nav__link">Home</a>
                    </li>
                    <li>
                        <a href="#work" class="nav__link">Trabajo</a>
                    </li>
                    <li>
                        <a href="#info" class="nav__link">Info</a>
                    </li>
                    <li>
                        <a href="#services" class="nav__link">Servicios</a>
                    </li>
                    <li>
                        <a href="#contact" class="nav__link">Contáctame</a>
                    </li>
                </ul>

                <!--Close button-->
                <div class="nav__close" id="nav-close">
                    <i class="ri-close-large-line"></i>
                </div>
            </div>

            <!--toggle button-->
            <div class="nav__toggle" id="nav-toggle">
                <i class="ri-menu-4-line"></i>
            </div>
        </nav>
    </header>

    <!--Main-->
    <main class="main"></main>

    <!--Home-->
    <section class="home section" id="home">
        <div class="home__container container grid">
            <div class="home__data">
                <h1 class="home__name">Jesús <br> Aguilar</h1>
                <h3 class="home__profession">Web Backend Developer</h3>
            </div>
            <a href="#work" class="home__scroll">
                <div class="home__scroll-box">
                    <i class="ri-arrow-down-line"></i>
                </div>
                <span class="home__scroll-text">Recent Works</span>
            </a>
        </div>
    </section>

    <!-- WORK -->
    <section class="work section" id="work">
        <h2 class="section__title">Recent Works</h2>
        <div class="work__container container grid">
            <article class="work__card">
                <a href="#" target="_blank" class="work__link">
                    <h2 class="work__title">Guía Cultivo de Mango</h2>
                    <p class="work__description">
                        Proyecto donde los usuarios
                        <br>pueden registrar sus
                        cultivos de mango
                        para analizar su crecimiento.
                    </p>
                    <img src="/static/images/Keitt.jpg" alt="Imagen del proyecto Guía Interactiva de Cultivo de Mango"
                        class="work__img">
                    <i class="ri-arrow-right-line"></i>
                </a>
            </article>
        </div>
    </section>

    <!--INFO-->
    <section class="info section" id="info">
        <h2 class="section__title">MY INFO</h2>

        <div class="info__container container grid">
            <!--ABOUT-->
            <div class="about grid">
                <div class="about__content">
                    <h3 class="info__title">About me</h3>
                    <p class="about__description">
                        Apasionado en la programación,
                        aprendiz <b>SENA</b> en el tecnologo
                        de Desarrollo de Software y <b>experto en Backend</b>
                    </p>
                    <a href="" download="" target="_blank" class="button about__button">Download me</a>
                </div>
            </div>
        </div>
    </section>
    <!--EXPERIENCE-->
    <section>
        <div class="experience">
            <h3 class="info__title">Experiencia</h3>
            <div class="experience__content grid">
                <div class="experience__data grid">
                    <h2 class="experience__company">AWS - SAGA</h2>
                    <div>
                        <h3 class="experience__profession">Web Product Backend</h3>
                        <span class="experience__date">25/01/24 - 03/05/24</span>
                        <p class="experience__description">
                            Manejo de servidor web (AWS) para
                            el mantenimiento de un proyecto de cartas
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!-- SKILLS -->
    <section>
        <div class="skills">
            <h3 class="info__title">Skills</h3>
            <div class="skills__content grid">
                <div class="skills__box">
                    <img src="/static/images/html-1.svg" alt="HTML" class="skills__img">
                    <span class="skills__name">HTML</span>
                </div>
                <div class="skills__box">
                    <img src="/static/images/css-3.svg" alt="CSS" class="skills__img">
                    <span class="skills__name">CSS</span>
                </div>
                <div class="skills__box">
                    <img src="/static/images/javascript.svg" alt="JavaScript" class="skills__img">
                    <span class="skills__name">JavaScript</span>
                </div>
                <div class="skills__box">
                    <img src="/static/images/aws-2.svg" alt="AWS" class="skills__img">
                    <span class="skills__name">AWS</span>
                </div>
                <div class="skills__box">
                    <img src="/static/images/python-5.svg" alt="Python" class="skills__img">
                    <span class="skills__name">Python</span>
                </div>
                <div class="skills__box">
                    <img src="/static/images/firebase.svg" alt="Firebase" class="skills__img">
                    <span class="skills__name">Firebase</span>
                </div>
                <div class="skills__box">
                    <img src="/static/images/github-dark.svg" alt="GitHub" class="skills__img">
                    <span class="skills__name">GitHub</span>
                </div>
                <div class="skills__box">
                    <img src="/static/images/nextjs_icon_dark.svg" alt="Next.js" class="skills__img">
                    <span class="skills__name">Next.js</span>
                </div>
            </div>
        </div>
    </section>
    

    <!--SERVICE-->
    <section class="services section" id="services">
        <h2 class="section__title">SERVICES</h2>

        <div class="services__container container grid">
            <article class="services__card">
                <i class="ri-code-box-line services__icon"></i>
                <h3 class="services__title">Web Backend Developer</h3>
                <p class="services__description">
                    Servicio de Backend y Cloud en Firebase y AWS.
                    Backend en Python y Javascript.
                </p>
            </article>
            <article class="services__card">
                <i class="ri-layout-line services__icon"></i>
                <h3 class="services__title">Diseño funcional</h3>
                <p class="services__description">
                    Servicio de un darle a su Diseño
                    frontend todo funcionamiento.
                </p>
            </article>
        </div>
    </section>

    <!--CONTACT ME-->
    <section class="contact section" id="contact">
        <h2 class="section__title">CONTÁCTAME</h2>

        <div class="contact__container container grid">
            <form action="" class="contact__form grid" id="contact">
                <div class="contact__group grid">
                    <input type=" " name="" placeholder="Nombres" required class="contact__input">
                    <input type="email" name="" placeholder="Email" required class="contact__input">
                </div>

                <textarea name="" placeholder="Mensaje" required class="contact__input contact__area"></textarea>

                <button type="submit" class="button contact__button">Enviar Mesaje</button>

                <p class="contact__message" id="contact-message"></p>

                <div class="contact__social grid">
                    <a href="www.facebook.com" target="_blank" class="contact__social-link">
                        <i class="ri-facebook-circle-line"></i>
                        <span>Facebook</span>
                    </a>

                    <a href="www.instagram.com" target="_blank" class="contact__social-link">
                        <i class="ri-instagram-line"></i>
                        <span>instagram</span>
                    </a>
                    
                    <a href="www.linkedin.com" target="_blank" class="contact__social-link">
                        <i class="ri-linkedin-box-line"></i>
                        <span>linkedin</span>
                    </a>
                </div>
            </form>
        </div>
    </section>









    <script src="/static/js/main.js"></script>
</body>

</html>